{% extends 'layout/layout' %}
{# {{ doctrineDump(products)| raw }} #}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        <br>
    </div>
    <div class="row">
        <div id="myAnimation">
            <img src="" id="myProduct" width="250px" />

            <img src="/jackpot-bar.svg" id="getAdvise"/>
        </div>
    </div>


    <script type='text/javascript' src="{{basePath()}}/js/adviseme.js"></script>



    <style>
    #getAdvise {
        width: 66px;
        height: 144px;
    }
    #myAnimation {
        min-height: 250px;
        min-width: 250px;
        display: block;
    }
    #myProgress {
      width: 100%;
      height: 30px;
      position: relative;
      background-color: #ddd;
    }

    #myBar {
      background-color: #4CAF50;
      width: 10px;
      height: 30px;
      position: absolute;
    }
    </style>
{% endblock %}
