esscul
vendor
config/autoload/doctrine.local.php
config/application.config.old
config/autoload/*.php
module/Product
module/LaCagnaProduct/src/LaCagnaProduct/Mapping/Product*
module/LaCagnaProduct/src/LaCagnaProduct/Proxy/__*
module/LaCagnaContent/src/LaCagnaContent/Proxy/__*
*.directory
*~
