


<p>
    <a href="{{ url('admineditcategory') }}" >Ajouter une catégorie</a>|
    <a href="{{ url('adminproductslist') }}">Listing produits</a>|
    <a href="{{ url('papermenupdf') }}">Menu PDF</a>

</p>
